.vgaxx { 
  border-right-width: 50px;
  margin-left: 87px;
  margin-right: 27px;
  padding-top: 58px;
  padding-right: 39px;
  font-size: 99px;
  font-size: 79px;
  padding-right: 42px;
  border-bottom-width: 77px;
  margin-right: 32px;
  margin-left: 33px;
}
